.header__logo {
  font-size: 30px;
  color: rgb(89, 4, 168);
  margin-top: 5px;
  margin-left: 10px;
}
.header__item {
  color: rgb(89, 4, 168);
}
nav ul {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  margin-bottom: 10px;
}
nav li {
  margin-right: 25px;
}
.ttl {
  font-size: 60px;
  font-weight: lighter;
  margin-top: 350px;
  position: relative
}
.box {
  width: 900px;
  height: 200px;
  background-color: rgb(89, 4, 168);
}
.img {
  width: 100%;
  background-size: 300px;
  position: absolute;
  top: 50px;
  left: 850px;
}