.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 30px;
  color: rgb(89, 4, 168);
  margin-top: 10px;
  margin-left: 10px;
}
.header__item {
  display: flex;
  margin-top: 10px;
  color: rgb(89, 4, 168);
}
nav ul {
  font-weight: bold;
}
nav li {
  margin-right: 30px;
  display: inline-block;
  margin-top: 10px;
}
.main-content {
  position: relative;
}
.ttl {
  font-size: 60px;
  font-weight: lighter;
  position: absolute;
  top: 290px;
}
.box {
  width: 70%;
  height: 160px;
  background-color: rgb(89, 4, 168);
  position: absolute;
  top: 350px;
}
.img img {
  width: 50%;
}
.img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}