.header__logo {
  font-size: 30px;
  color: rgb(89, 4, 168);
  margin-top: 5px;
  margin-left: 10px;
}
.header__item {
  display: inline;
  margin-top: 0;
  color: rgb(89, 4, 168);
}
nav ul {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
}
nav li {
  margin-right: 25px;
}
main{
  position: relative;
}
.ttl {
  font-size: 60px;
  font-weight: lighter;
  position: absolute;
  top: 300px;
}
.box {
  width: 950px;
  height: 170px;
  background-color: rgb(89, 4, 168);
  position: absolute;
  top: 360px;
}
.img img {
  position: absolute;
  width: 50%;
  top: 10px;
  right: 0;
  }